hr {
  width: 100%;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.county {
  opacity: 0.7;
}
.county:hover {
  opacity: 1;
  stroke-width: 2;
}
